streamlit
requests
httpx
pdfminer.six

openai

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

chromadb

tiktoken
numpy
pydantic
pydantic-settings

python-dotenv